<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 注册界面 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>幼儿园收费系统</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
            background: url(img/tu.jpg) repeat center top;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>注册</h1>
        <form th:action="@{/register}" method="POST">
          <div class="form-group">
            <label>用户名：</label>
            <input class="form-control" name="username">
          </div>
          <div class="form-group">
            <label>密码：</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-primary">注册</button>
        </form>
      </div>
</body>
</html>

